= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  %h1 Sign In
  %fieldset#sign_in
    %dl
      %dt
        = f.label :email
      %dd
        = f.email_field :email
      %dt
        = f.label :password
      %dd
        = f.password_field :password
    %label.checkbox
      = f.check_box :remember_me
      Remember me
  %fieldset.actions
    = submit_tag "Sign In"
    = link_to 'Forgot Password', '#'
