%fieldset
  %dl
    %dt= form.label :first_name, 'First Name'
    %dd= form.text_field :first_name
  %dl
    %dt= form.label :last_name, 'Last Name'
    %dd= form.text_field :last_name
  %dl
    %dt= form.label :email
    %dd= form.text_field :email
  %dl
    %dt= form.label :contact_phone, 'Contact Phone'
    %dd= form.text_field :contact_phone
  %dl
    %dt= form.label :github_id, 'Github ID'
    %dd= form.text_field :github_id
  %dl
    %dt= form.label :twitter_id, 'Twitter ID'
    %dd= form.text_field :twitter_id
  %dl
    %dt= form.label :note
    %dd= form.text_area :note
