%fieldset
  %dl
    %dt= form.label :first_name, "First Name"
    %dd= form.text_field :first_name
    %dt= form.label :last_name, "Last Name"
    %dd= form.text_field :last_name
    %dt= form.label :email
    %dd= form.text_field :email
    %dt= form.label :phone, "Contact Phone"
    %dd= form.text_field :phone
    %dt= form.label :status
    %dd= form.select :status, Candidate::STATES.map { |s| [s.titleize, s.downcase] }
    %dt= form.label :github
    %dd= form.text_field :github
    %dt= form.label :twitter
    %dd= form.text_field :twitter
    %dt
      %label Profile Image
    %dd
      %input(type="file")
    %dt
      %label Resume
    %dd
      %input(type="file")
    %dt
      %label Supporting files
    %dd
      %ul
        %li
          %input.multiple(type="file" name="supporting_file[0]")
    %dt
      %label Note
    %dd
      %textarea(rows="8" cols="80")
  %label.checkbox(for='candidate_local')
    = form.check_box :local
    Local
  %label.checkbox(for='candidate_willing_to_relocate')
    = form.check_box :willing_to_relocate
    Willing to Relocate
