= form_for candidate do |f|
  %h1 Edit Candidate
  %fieldset
    %dl
      = render :partial => 'form', locals: { form: f }
      = f.fields_for :notes, note do |ff|
        %dt= ff.label :body, "Note"
        %dd= ff.text_area :body

  %fieldset.actions
    = f.submit "Update Candidate"
    %a(href="#") Cancel
