= form_for candidate, builder: ErrorMessagesFormBuilder do |f|
  %h1 Edit Candidate

  = f.error_messages

  = render 'form', form: f

  %fieldset.actions
    = f.submit 'Save'
    = link_to "Delete Candidate", candidate, method: :delete, confirm: 'Are you sure?'
