.search
  = form_tag [:search, :candidates] do
    %fieldset
      = label_tag "search_value", "Search", class: "hidden"
      = text_field_tag "search[value]", nil, id: "search_value"
      = submit_tag "Search"
  = link_to "Add New Candidate", new_candidate_path, class: "button add"

= form_tag [:filter, :candidates], class: "filters" do
  %fieldset
    %dl
      %dt= label_tag "filter_status", "Status"
      %dd= select_tag "filter[status]", options_for_select(Candidate::STATUSES.unshift("display all")), id: "filter_status"
  %fieldset.actions
    = submit_tag "Filter"
    = link_to "reset", "#"

%table.standard
  %thead
    %tr
      - ["Name", "Phone", "Email", "Github", "Twitter", "Local", "Willing to Relocate", "Added On", "Status"].each do |th|
        %th= th
  %tbody
    - candidates.each do |candidate|
      %tr
        %td= candidate.last_first
        %td= candidate.phone
        %td= candidate.email
        %td= candidate.github
        %td= candidate.twitter
        %td= candidate.local? ? "Yes" : "No"
        %td= candidate.willing_to_relocate? ? "Yes" : "No"
        %td= candidate.created_at.to_date.to_s(:us)
        %td= candidate.status
