%table.standard
  %thead
    %tr
      - ["Name", "Phone", "Email", "Github", "Twitter", "Local", "Willing to Relocate"].each do |th|
        %th= th
  %tbody
    - candidates.each do |candidate|
      %tr
        %td= link_to candidate.name, [candidate]
        %td= candidate.phone
        %td= candidate.email
        %td= candidate.github
        %td= candidate.twitter
        %td= humanize_boolean(candidate.local)
        %td= humanize_boolean(candidate.willing_to_relocate)
