%form.filters
  %fieldset
    %dl
      %dt
        = label_tag :status
      %dd
        = select_tag :status, options_for_select(Candidate.available_states, selected: params[:status])
      %dt
        = label_tag :local
      %dd
        = check_box_tag :local, 'true', params[:local]
      %dt
        = label_tag :willing_to_relocate, "Willing to Relocate"
      %dd
        = check_box_tag :willing_to_relocate, 'true', params[:willing_to_relocate]
  %fieldset.actions
    %input(type="submit" value="Filter")
    = link_to "reset", [:candidates]

%table.standard
  %thead
    %tr
      - ["Name", "Phone", "Email", "Github", "Twitter", "Local", "Willing to Relocate"].each do |th|
        %th= th
  %tbody
    - filtered_candidates.each do |candidate|
      %tr
        %td= link_to candidate.name, [candidate]
        %td= candidate.phone
        %td= candidate.email
        %td= candidate.github
        %td= candidate.twitter
        %td= humanize_boolean(candidate.local)
        %td= humanize_boolean(candidate.willing_to_relocate)
