%section#candidate_show
  #main
    %header
      = link_to "Edit Candidate", edit_candidate_path(candidate), class: "edit"
      %h1= candidate.full_name
      %dl.small
        %dt Status
        %dd= candidate.status
      %dl
        %dt Email
        %dd= candidate.email
      %dl
        %dt Contact Phone
        %dd= candidate.phone
      %dl
        %dt Github
        %dd= candidate.github
      %dl
        %dt Twitter
        %dd= candidate.twitter
      %dl
        %dt Added On
        %dd= candidate.created_at
      %dl
        %dt Local?
        %dd= candidate.local? ? "Yes" : "No"
      %dl
        %dt Willing to Relocate?
        %dd= candidate.willing_to_relocate? ? "Yes" : "No"


  - candidate.notes.each do |note|
    %article
      %h1
        %time(datetime="#{note.created_at}")= note.created_at.to_date.to_s(:us)
      %p= note.body
