%section#candidate_show
  #main
    %header
      = link_to "Edit Candidate", [:edit, candidate], class: "edit"
      %h1= candidate.name
      %dl.small
        %dt Status
        %dd= candidate.status.capitalize
      %dl
        %dt Email
        %dd= candidate.email
      %dl
        %dt Contact Phone
        %dd= candidate.phone
      %dl
        %dt Github
        %dd= candidate.github
      %dl
        %dt Twitter
        %dd= candidate.twitter
      %dl
        %dt Added On
        %dd= candidate.added_on
      %dl
        %dt Local
        %dd= candidate.local? ? "Yes" : "No"
      %dl
        %dt Willing to Relocate
        %dd= candidate.willing_to_relocate? ? "Yes" : "No"
      %dl
        %dt Resume
        %dd
          %a(href='#') john-doe.pdf
    - candidate.notes.each do |note|
      %article
        %h1
          %time{datetime: note.added_on.to_date.to_s("%Y-%m-%d")}= note.added_on.to_date.to_s(:pretty)
        %p= note.comment
        %a.delete(href="#") delete
    %p.actions= link_to 'Add Note', '#', class: "button add"
    %form.note(action="" method="post")
      %fieldset
        %dl
          %dt
            %label Note
          %dd
            %textarea(rows="8" cols="80")
      %fieldset.actions
        %input(type="submit" value="Add Candidate")
        %a(href="#") Cancel
  %aside
    %figure
      %figcaption Profile Image
      = image_tag dummy_image(200, 200), alt: "Profile Image"
