= content_for :head do
  = javascript_include_tag 'candidate'
%section#candidate_show
  #main
    %header
      = link_to "Edit Candidate", "#", class: "edit"
      %h1= candidate.name
      %dl.small
        %dt Status
        %dd= candidate.status
      %dl
        %dt Email
        %dd= candidate.email
      %dl
        %dt Contact Phone
        %dd= candidate.phone
      %dl
        %dt Github
        %dd= candidate.github
      %dl
        %dt Twitter
        %dd= candidate.twitter
      %dl
        %dt Added On
        %dd= candidate.created_at.to_s(:short_slash)
      %dl
        %dt State
        %dd= candidate.status.try(:humanize)
      %dl
        %dt Local
        %dd= humanize_boolean(candidate.local)
      %dl
        %dt Willing to Relocate
        %dd= humanize_boolean(candidate.willing_to_relocate)

    - candidate.notes.each do |note|
      %article
        %h1 #{note.created_at.to_s(:short)} #{note.tags.map(&:name).join(" ")}
        %p= note.body


    = form_for candidate do |candidate_form|
      %fieldset
        %dl
          = candidate_form.fields_for :notes, Note.new do |note_form|
            %dt
              = note_form.label :body, "Note"
            %dd
              = note_form.text_area :body
            = note_form.fields_for :tags, Tag.new do |tag_form|
              %dt
                = tag_form.label :name, "Tags"
              %dd
                = tag_form.text_field :name
      %fieldset.actions
        %input(type="submit" value="Add Note")
        %a(href="#") Cancel
