!!! 5
%html(lang="en-US")
  %head
    %title Proofing Oven
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery-1.5.2.min", "rails", "application"
    = yield :head
  %body
    %header
      %h1= link_to "Proofing Oven", root_path
      %nav
        %ul
          %li.active= link_to "Candidates", "#"
          %li= link_to "Skills", "#"
      .session
        - if user_signed_in?
          %p Logged in as #{current_user.email}
        - else
          = link_to "Sign up", new_user_registration_path
          \|
          = link_to "Log in", "#"
    #content
      - flash.keys.each do |key|
        %p{:class => key}= flash[key]
      = yield
