!!! 5
%html(lang="en-US")
  %head
    %title Proofing Oven
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery-1.5.2.min", "rails", "application"
    = yield :head
    - if Rails.env.test?
      :javascript
        window.confirm = function() { return true };
  %body
    %header
      %h1= link_to "Proofing Oven", root_path
      %nav
        %ul
          %li.active= link_to "Candidates", "#"
          %li= link_to "Skills", "#"
      .session
        - if user_signed_in?
          %p Signed in as #{current_user.email}
          = link_to "Sign Out", [:destroy, :user_session]
        - else
          = link_to "Sign up", "#"
          \|
          = link_to "Sign In", [:new, :user_session]

    #content
      = yield
