!!! 5
%html(lang="en-US")
  %head
    %title Proofing Oven
    %meta(charset="UTF-8")
    = stylesheet_link_tag "application"
    = javascript_include_tag "jquery-1.5.2.min", "rails", "application"
    = yield :head
  %body
    %header
      %h1= link_to "Proofing Oven", root_path
      %nav
        %ul
          %li.active= link_to "Candidates", "#"
          %li= link_to "Skills", "#"
      .session
        - if current_user.present?
          %p Logged in as #{current_user.full_name}
        = link_to "Sign up", "#"
        \|
        - if current_user.present?
          = link_to "Log out", destroy_user_session_path
        - else
          = link_to "Log in", new_user_session_path
    #content
      - if flash.any?
        .flash
          - flash.each do |type, message|
            %div(id = "flash_#{type}")= message
      = yield
